@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  height: 100vh;
  background: hsl(217, 54%, 11%);
  position: relative;
  font-family: 'Outfit', sans-serif;
}

img {
  max-width: 100%;
}

.card {
  background: hsl(216, 50%, 16%);
  border-radius: 10px;
  width: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .container {
  width: 90%;
  margin: 1em auto;
  /* border: 1px solid red; */
}

.img-pic {
  border-radius: 10px;
}

.text .row {
  display: flex;
  align-items: center;
  justify-content: space-between;

}