@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  height: 100vh;
  background: hsl(217, 54%, 11%);
  position: relative;
  font-family: 'Outfit', sans-serif;
}

img {
  max-width: 100%;
}

.card {
  background: hsl(216, 50%, 16%);
  border-radius: 10px;
  width: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .container {
  width: 90%;
  margin: 1em auto;
  /* border: 1px solid red; */
}

.img-pic {
  border-radius: 10px;
}

.text h2 {
  color: #fff;
  padding: .6em 0;
  font-weight: 600;
}
.text p {
  padding-bottom: 1em;
  font-size: 18px;
  line-height: 25px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.text .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
}

.eth {
  color: hsl(178, 100%, 50%);
  margin-left: .5em;
  font-size: 18px;
  font-weight: 600;
}

.days {
  padding-left: .5em;
  color: hsl(215, 51%, 70%);
  font-size: 18px;
}